.form {
  @apply p-2 flex border-b gap-1
}

.form__input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
}

.form__input--dark {
  @apply dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.form__btn {
  @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 text-center px-5 py-2.5 text-sm rounded-lg font-medium}

.form__btn--dark {
  @apply dark:focus:ring-cyan-800
}
